<backbar></backbar>
<div class="editor">
<textarea ng-model="editorContent" placeholder="Type Something Here"></textarea>
<div class="button-container">
  <button class="button" ng-click="copyToClipboard()">Copy to Clipboard</button>
  <button class="button" ng-click="pasteFromClipboard()">Paste from Clipboard</button>
  <button class="button" ng-click="saveToLocalStorage()">Save to Local Storage</button>
  <button class="button" ng-click="loadFromLocalStorage()">Load from Local Storage</button>
  <button class="button" ng-click="downloadAsTextFile()">Download as Text File</button>
</div>
</div>